canvas {
  border: 1px solid gray;
  //margin-bottom: 1.15em;
  //border-left: 0.4em solid #272727;
}

canvas:focus {
  outline: none;
}

.sketch-controls {
  color: #000000;
  margin: 5px 0 15px;
}

.sketch-controls button {
  border: 0;
  color: white;
  padding: 5px 8px;
  font-size: 100%;
  font-family: "ProximaNova-Regular";
}

.sketch-controls button:hover {
  cursor: pointer;
  background-color: #000;
}

.sketch-controls .reset {
  background-color: #404383;
}

.sketch-controls .pause {
  background-color: #408448;
}